* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: MV Boli;
    font-weight: 400;
    font-size: 50px;
    color: #a9a9a9;
    text-align: center;
    text-decoration: underline;
    background-color: #483d8b;
}

body {
    background-color: #ffa500;
}

.biopic {
    position: absolute;
    width: 250px;
    background-image: url(biopic.jpg);
    background-size: 100%;
    background-color: #ffa500;
}

.navbar {
    color: #f3f3f3;
    margin: 0 auto;
    width: 1000px;
    text-decoration: none;
    ;
}

.hike1 {
    width: 500px;
    height: 350px;
}

.aboutme {
    background-color: #483d8b;
    font-family: MV Boli;
    color: #a9a9a9;
}

.GROW {
    background-color: #483d8b;
    font-family: MV Boli;
    color: #a9a9a9;
    font-size: larger;
}

#social {
    position: absolute;
}

.footer {
    width: 500px;
    height 400px;
}
